@charset "UTF-8";
html {
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-indent: 35px;
  padding: 0px 9px;
  line-height: 1.5em;
}

.header {
  min-height: 20vh;
  background-color: blueviolet;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
}

.title-header {
  text-align: center;
  padding-top: 50px;
  font-size: 39px;
  color: white;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}
.logo-estat {
  width: 60px;
}
.main-content {
  text-align: justify;
}

footer {
  height: 10vh;
  background: rgba(255, 68, 0, 0.829);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
